@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

:root {
    font-family: 'Quicksand', sans-serif;
}
.sr-only {
    display: none;
}
.grid {
    display: grid;
}
button{
    padding :10px 20px;
    border: transparent;
    font-weight: 500;
    font-size: 0.8rem;
}
button:hover{
    background-color: rgb(235, 97, 120);
    cursor:pointer;
}
h1{
    margin:0;
}
@media only screen and (max-width: 600px){
    h1 { 
        font-size: 1.4rem;
    }
    h2 { 
        font-size: 1rem;
    }
}